/* About Me */
.about-me
{
    z-index: 2;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.about-me .title {
    width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.about-me .title h1 {
    font-family: 'Righteous', cursive;
    color: #ffffff;
    font-size: 7.5vw;
}

.about-me .title h2 {
    font-family: 'Righteous', cursive;
    color: #ffffff;
    font-size: 1.5vw;
}

.about-me .content{
    width: 600px;
    background-color: #000000d2;
    padding: 48px;
    border-radius: 16px;
}

.about-me .content h2{
    font-family: 'Source Code Pro', monospace;
    color: #ffffff;
    font-size: 1.3vw;
    margin-bottom: 32px;
    height: 210px;
}

.about-me .content h3{
    font-family: 'Source Code Pro', monospace;
    color: #ffffff;
    font-size: 1vw;
    margin-bottom: 32px;
}

#resumebtn {
    color: #000000;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 20px;
    background-color: white;
    font-size: 1em;
    border: none;
}